#videowrapper{
	position: relative;
	width: 1000px;
	height: 908px;
	border-radius: 40px;
	background: transparent;
	box-shadow: 3px 3px 3px gray;
	font-family: 微软雅黑;
	overflow: hidden;
	transform: scale(0.7) translate(-214px, -194px);
}

#videoContainer{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 730px;
}

#videoPlayer{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
}

#tipLabel{
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 730px;
	font-size: 48px;
	background: #000;
	color: #E1DCD6;
	text-align: center;
	opacity: 0.5;
}

#titleRT{
	width: 800px;
	margin-left: 100px;
	font-size: 48px;
	line-height: 64px;
	height: 64px;
	margin-top: 57px;
	color: #233C46;
	text-align: center;
	resize: none;
	outline: none;
	border: none;
	padding: 0px;
}